/* .item:hover {
  background-color: #fdef98;
} */

.item:hover {
  background-color: #fef2a9;
}


.item {
  border: 5px solid #fef2a9;
  border-radius: 20px;
}

.edit-item {
  border-style: solid;
  border-color: #ffd460;
  border-radius: 10px;
  cursor: default;
}

/* 
.edit-item:hover {
  background-color: #fff7e1;
} */
.edit-item:hover {
  background-color: #ffd460;
}

.add-recipe {
  cursor: pointer;
  width: 70%;
  height: 70%;
}

.add-recipe:hover {
  transition: width 0.5s, height 0.5s;
  width: 80%;
  height: 80%;
}