<div style="background-color: #dedbdb;" class="py-3">
  <div class="m-auto bg-white p-3" style="width: 35%;border-radius: 20px;">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="this.currentLink == 'your-recipes'">
      <div (click)="openDialog()" style="border-radius: 50%; width: 60px; height: 60px;left:80%;top:74%;z-index: 1;"
        class="position-fixed bg-warning">
        <img src="/assets/icon/addRecipe.png" class="add-recipe position-absolute" style="  margin: 0;
        position: absolute;
        top: 52%;
        left: 52%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        ">
      </div>
      <img id="lol" src="/assets/icon/schedule.png" class="position-fixed"
        style="left: 82.7%; top:63%; width: 127px;z-index: 1;">
      <div class="position-fixed text-center"
        style="font-size: smaller; font-style: italic; left: 84%; top:66%; width: 85px;z-index: 1;">Thêm công thức của
        bạn!!</div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{'disabled':this.recipeService.selectedPage==1}">
          <a [routerLink]="['/common-recipes',currentLink]" [queryParams]="{page:this.recipeService.selectedPage-1}"
            style="color: black;" class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a [routerLink]="['/personal-recipes',currentLink]" [queryParams]="{page:page1()}"
            [ngStyle]="{'background-color':this.recipeService.selectedPage==1?'#ffe127':''}" style="color: black;"
            class="page-link">
            {{page1()}}
          </a>
        </li>
        <li *ngIf="this.recipeService.numPage>1" class="page-item">
          <a [routerLink]="['/personal-recipes',currentLink]" [queryParams]="{page:page2()}"
            [ngStyle]="{'background-color':this.recipeService.selectedPage!=1&&(this.recipeService.selectedPage!=this.recipeService.numPage&&this.recipeService.numPage!=2)||(this.recipeService.selectedPage==this.recipeService.numPage&&this.recipeService.numPage==2)?'#ffe127':''}"
            style="color: black;" class="page-link">{{page2()}}
          </a>
        </li>
        <li *ngIf="this.recipeService.numPage>2" class="page-item">
          <a [routerLink]="['/personal-recipes',currentLink]" [queryParams]="{page:page3()}"
            [ngStyle]="{'background-color':this.recipeService.selectedPage==this.recipeService.numPage?'#ffe127':''}"
            style="color: black;" class="page-link">{{page3()}}
          </a>
        </li>
        <li class="page-item" [ngClass]="{'disabled':this.recipeService.selectedPage==this.recipeService.numPage}">
          <a [routerLink]="['/personal-recipes',currentLink]" [queryParams]="{page:this.recipeService.selectedPage+1}"
            style="color: black;" class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>