<div class="my-shadow rounded-2" style="cursor: pointer;" [routerLink]="['/recipes/'+recipe.id]">
  <img style="max-width: 100%;
height: auto;" src={{recipe.image}}>
  <div class="px-1 pb-1">
    <div class="float-start">{{recipe.name}}</div>
    <div style="cursor: pointer;" (click)="clickFavorite()" (mouseenter)="mouseEnterFavorite()"
      (mouseleave)="mouseLeaveFavorite()" class="float-end text-danger"
      [ngClass]="{'bi-heart-fill':recipe.favorite||favoriteHover, 'bi-heart':!recipe.favorite&&!favoriteHover}">
    </div>
    <div style="clear: both;">
      <ng-container *ngFor="let item of [0,1,2,3,4]">
        <i [ngClass]="{'bi-star-fill':recipe.numStar>=item+0.75,'bi-star-half':recipe.numStar<item+0.75&&recipe.numStar>=item+0.25,'bi-star':recipe.numStar<item+0.25}"
          class="bi text-warning"></i>
      </ng-container>
      <div class="float-end"
        [innerText]="(recipe.numEvaluation>1000?toFix(recipe.numEvaluation)+'k': recipe.numEvaluation)+' Đánh giá'">
      </div>
    </div>
  </div>
</div>