<div mat-dialog-title class="dialog-title">
  <div class="w-100 text-center fs-3 mt-3">{{data.title}}</div>
</div>
<div style="padding: 0 24px;">
  <img class="d-block mx-auto" src={{data.recipeImage}} style="width: 70%; height: 285px;">
  <div class="fs-4 mt-2">{{data.recipeName}}</div>
</div>


<mat-dialog-content>
  <mat-form-field *ngIf="data.title!='Chỉnh sửa ghi chú món ăn đã học'" class="w-100 mb-1">
    <mat-label>Thời gian lên lịch</mat-label>
    <input matNativeControl type="datetime-local" [(ngModel)]="data.scheduledTime">
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Ghi chú</mat-label>
    <textarea matInput [(ngModel)]="data.note"></textarea>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions style="padding-right: 25px;" class="justify-content-end">
  <button class="rounded-1 bg-warning border-warning text-white" [mat-dialog-close]="data"
    mat-raised-button>Lưu</button>
  <button class="rounded-1 text-white" [mat-dialog-close]="null" style="background-color: #b9b9b9;"
    mat-raised-button>Huỷ</button>
</mat-dialog-actions>