<div style="background-image: url('assets/background2.jpg'); background-repeat: no-repeat; background-size: cover;"
  class="w-100 h-100 position-relative">
  <div class="vertical-center1 pt-3 pb-2 custom-modalbox border rounded-3"
    style="left: 60%;background-color: white; width: 20%;">
    <div mat-dialog-title>
      <div class="fs-3 text-center mb-2">{{isLogin?'Đăng nhập':'Đăng ký'}}</div>
    </div>
    <div class="mx-auto" style="width: 80%;">
      <mat-dialog-content>
        <div *ngIf="isLogin==false">
          <mat-form-field class="mb-1" style="width: 100%;" [ngClass]="{'border-danger':!validate.fullName}">
            <mat-label>Full Name</mat-label>
            <input (focusout)="validateFullName()" matInput [(ngModel)]=fullName>
          </mat-form-field>
          <div *ngIf="!validate.fullName" class="row mb-1">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 text-danger" style="font-size: x-small; padding: 0 16px;">{{EMPTY_MESSAGE_ERROR}}
            </div>
          </div>
        </div>
        <mat-form-field class="mb-1" style="width: 100%;" [ngClass]="{'border-danger':!validate.username}">
          <mat-label>Username</mat-label>
          <input (focusout)="validateUserName()" matInput [(ngModel)]="username">
        </mat-form-field>
        <div *ngIf="!validate.username" class="row mb-1">
          <div class="col-sm-1"></div>
          <div class="col-sm-11 text-danger" style="font-size: x-small; padding: 0 16px;">{{EMPTY_MESSAGE_ERROR}}
          </div>
        </div>
        <mat-form-field style="width: 100%;" [ngClass]="{'border-danger':!validate.password}">
          <mat-label>Password</mat-label>
          <input (focusout)="validatePassword()" matInput [(ngModel)]="password">
        </mat-form-field>
        <div *ngIf="!validate.password" class="row mb-1">
          <div class="col-sm-1"></div>
          <div class="col-sm-11 text-danger" style="font-size: x-small; padding: 0 16px;">{{EMPTY_MESSAGE_ERROR}}
          </div>
        </div>
        <div *ngIf="isLogin==false">
          <div style="font-weight: 500; padding: 0 16px;" class="mt-3">Ảnh đại diện của bạn</div>
          <div class="position-relative image mx-auto" style="width: 10em; height: 10em; ">
            <img *ngIf="userImage!=''" src={{userImage}} class="w-100 h-100 vertical-center">
            <svg *ngIf="userImage!=''" xmlns="http://www.w3.org/2000/svg" fill="currentColor" (click)="userImage=''"
              class="text-white bi bi-x position-absolute"
              style="top:0;right:0;width: 1.5em;height:1.5em;background-color: dimgray;" viewBox="0 0 16 16">
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
            <div *ngIf="userImage==''" (click)="addUserImage()" style="border-style: dotted;"
              [ngClass]="{'border-danger':!validate.userImage}" class="w-100 h-100">
              <i class="bi bi-camera vertical-center" style=" font-size: 5em;"></i>
            </div>

          </div>
        </div>
      </mat-dialog-content>

      <div *ngIf="isLogin==true" class="text-center my-2" style="font-size: small;">
        Chưa có tài khoản? <span class="text-warning" style="cursor: pointer;"
          (click)="router.navigate(['/sign-up']);">Đăng ký
          ngay</span>
      </div>
      <div *ngIf="isLogin==false" class="text-center my-2" style="font-size: small;">
        Đã có tài khoản? <span class="text-warning" style="cursor: pointer;" (click)="router.navigate(['/login']);">Đăng
          nhập
          ngay</span>
      </div>
      <mat-dialog-actions class="justify-content-center d-flex mt-1">
        <button (click)="submit()" class="rounded-1 bg-warning border-warning text-white" mat-raised-button>
          {{isLogin?'Đăng nhập':'Đăng ký'}}</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>