<div mat-dialog-title class="dialog-title pe-0">
  <div class="fs-3">Chia sẻ công thức của bạn cho Yum Yum</div>
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div class="mt-2" style="font-weight: 500; font-size: large;">Tên công thức</div>
  <div class="row rounded-3 py-2 mx-3 my-2" [ngClass]="{'border border-danger':!validate.name}"
    style="background-color: #eeeebe;">
    <div class="col-sm-1 my-auto">
    </div>
    <div class="col-sm-10 px-0 my-auto">
      <mat-form-field class="w-100">
        <input (focusout)="validateName()" matInput [(ngModel)]=recipe.name placeholder="Vd: Bún bà Chửi">
      </mat-form-field>
    </div>
    <div class="col-sm-1 my-auto p-0">
    </div>
    <div *ngIf="!validate.name" class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-11 text-danger" style="font-size: x-small; padding: 0 16px;">{{EMPTY_MESSAGE_ERROR}}
      </div>
    </div>
  </div>

  <div class="mt-4" style="font-weight: 500; font-size: large;">Nguyên liệu</div>
  <div class="row rounded-3 py-2 mx-3 my-2" [ngClass]="{'border border-danger':!validate.ingredients[ingredientIndex]}"
    *ngFor="let ingredient of recipe.ingredients; let ingredientIndex=index" style="background-color: #eeeebe;">
    <div class="col-sm-1 my-auto">
      <i class="bi bi-dot"></i>
    </div>
    <div class="col-sm-4 px-0 my-auto">
      <mat-form-field class="w-100">
        <mat-label>Số lượng</mat-label>
        <input (focusout)="validateIngredient(ingredientIndex)" matInput [(ngModel)]=ingredient.quantity
          placeholder="Vd: 1kg">
      </mat-form-field>
    </div>
    <div class="col-sm-6 pe-0 my-auto">
      <mat-form-field class="w-100">
        <mat-label>Tên nguyên liệu</mat-label>
        <input (focusout)="validateIngredient(ingredientIndex)" matInput [(ngModel)]=ingredient.name
          placeholder="Vd: thịt bò">
      </mat-form-field>
    </div>
    <div class="col-sm-1 my-auto p-0">
      <div class="position-relative image rounded-5 mx-auto" (click)="removeIngredient(ingredientIndex)"
        style="width: 30px; height: 30px;">
        <i class="bi bi-x-lg vertical-center" style=" font-size: 15px;"></i>
      </div>
    </div>
    <div *ngIf="!validate.ingredients[ingredientIndex]" class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-11 text-danger" style="font-size: x-small; padding: 0 16px;">{{EMPTY_MESSAGE_ERROR}}
      </div>
    </div>

  </div>
  <div class="position-relative">
    <button mat-raised-button class="button-form center mt-3" (click)="addIngredient()"><strong>+</strong>
      Nguyên liệu
    </button>
  </div>

  <div style="font-weight: 500; font-size: large; margin-top: 4rem;">Hướng dẫn chế biến</div>
  <div class="row rounded-3 py-2 mx-3 my-2"
    [ngClass]="{'border border-danger':validate.instructions[instructionIndex]==false}"
    *ngFor="let instruction of recipe.instructions; let instructionIndex=index" style="background-color: #eeeebe;">
    <div class="col-sm-1 my-auto">
      {{instructionIndex+1}}.
    </div>
    <div class="col-sm-9 my-auto px-0">
      <mat-form-field class="w-100">
        <mat-label>Hướng dẫn bước {{instructionIndex+1}} (thêm ảnh nếu cần)
        </mat-label>
        <input (focusout)="validateInstruction(instructionIndex)" matInput
          [(ngModel)]=this.recipe.instructions[instructionIndex].step>
      </mat-form-field>
    </div>
    <div class="col-sm-1 my-auto p-0">
      <div class="position-relative image rounded-5 mx-auto" (click)="addInstructionImage(instructionIndex)"
        style="width: 30px; height: 30px;">
        <i class="bi bi-camera vertical-center" style=" font-size: 20px;"></i>
      </div>
    </div>
    <div class="col-sm-1 my-auto p-0">
      <div class="position-relative image rounded-5 mx-auto" (click)="removeInstruction(instructionIndex)"
        style="width: 30px; height: 30px;">
        <i class="bi bi-x-lg vertical-center" style=" font-size: 15px;"></i>
      </div>
    </div>

    <div *ngIf="instruction.images.length>0" class="d-flex mt-1">
      <div *ngFor="let image of instruction.images;let imageIndex =index" class="me-1 position-relative">
        <img src={{image}} class="" style="width: 5em;height: 5em;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
          (click)="removeInstructionImage(instructionIndex,imageIndex)" class="text-white bi bi-x position-absolute"
          style="top:0;right:0;width: 1.5em;height:1.5em;background-color: dimgray;" viewBox="0 0 16 16">
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </div>
    </div>
    <div *ngIf="validate.instructions[instructionIndex]==false" class="row">
      <div class="col-sm-1">{{'cc'+validate.instructions[instructionIndex]}}</div>
      <div class="col-sm-11 text-danger" style="font-size: x-small; padding: 0 16px;">{{EMPTY_MESSAGE_ERROR}}
      </div>
    </div>
  </div>
  <div style="position: relative">
    <button mat-raised-button class="button-form center" (click)="addInstruction()"><strong>+</strong>
      Bước thực hiện
    </button>
  </div>
  <div style="font-weight: 500; font-size: large;; margin-top: 4rem;">Ảnh đại diện của món ăn</div>
  <div class="position-relative image mx-auto" style="width: 10em; height: 10em; ">
    <img *ngIf="recipe.image!=''" src={{recipe.image}} class="w-100 h-100 vertical-center">
    <svg *ngIf="recipe.image!=''" xmlns="http://www.w3.org/2000/svg" fill="currentColor" (click)="recipe.image=''"
      class="text-white bi bi-x position-absolute"
      style="top:0;right:0;width: 1.5em;height:1.5em;background-color: dimgray;" viewBox="0 0 16 16">
      <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
    </svg>
    <div *ngIf="recipe.image==''" (click)="addRecipeImage()" style="border-style: dotted;"
      [ngClass]="{'border-danger':!validate.image}" class="w-100 h-100">
      <i class="bi bi-camera vertical-center" style=" font-size: 5em;"></i>
    </div>
    <div *ngIf="!validate.image" class="text-danger w-100 text-center" style="font-size: x-small;">
      {{EMPTY_IMAGE_MESSAGE_ERROR}}
    </div>
  </div>


</mat-dialog-content>
<mat-dialog-actions style="padding-right: 25px;" class="justify-content-end">
  <button class="rounded-1 bg-warning border-warning text-white" (click)="onSubmit()" mat-raised-button>Submit</button>
  <button class="rounded-1 text-white" mat-dialog-close style="background-color: #b9b9b9;"
    mat-raised-button>Huỷ</button>
</mat-dialog-actions>