.bi-x:hover {
  background-color: black !important;
  cursor: pointer;
}

.response:hover {
  color: #b48b0e;
  cursor: pointer;
  font-weight: bold;
}

.like:hover {
  color: #ffc107;
  cursor: pointer;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}