<div [routerLink]="['/recipes/'+learntRecipe.recipe.id]"
  *ngFor="let learntRecipe of learntRecipes, let learntRecipeIndex=index" class="row p-2 mb-2 item"
  style="cursor: pointer;">
  <div class="col-sm-12 ">
    <div class="row">


      <app-common-recipe-list [recipe]="learntRecipe.recipe"></app-common-recipe-list>
    </div>
    <div class="row edit-item mt-1 p-2" (click)="lol($event)">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-11 ps-0">
            <i class="bi bi-book me-1"></i>
            {{'Học lúc '+learntRecipe.recipe.learntDate}}
          </div>
          <div class="col-sm-1 text-end pe-0" (click)="edit($event,learntRecipeIndex,learntRecipe)">
            <i class="bi bi-pencil-square text-end" style="cursor: pointer;"></i>
          </div>
        </div>
        <div class="row">
          <div *ngIf="learntRecipe.note" class="col-sm-12 ps-0 mt-1">
            <i class="bi bi-sticky me-1"></i>
            {{'Ghi chú: '+learntRecipe.note}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 ps-0 mt-1">
            <i class="bi bi-camera me-1"></i>
            Thành quả của bạn:
          </div>
          <div *ngIf="learntRecipe.learntImages.length>0" class="d-flex mt-1 px-4">
            <div *ngFor="let image of learntRecipe.learntImages;let imageIndex =index" class="me-1 position-relative">
              <img src={{image}} style="width: 5em;height: 5em;">
            </div>
          </div>
        </div>
      </div>
      <div>


      </div>

    </div>


  </div>

</div>