<div class="row">
  <div class="col-sm-4 ps-0">
    <img src="{{recipe.image}}" class="w-100 h-100">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="" [ngClass]=" (isClock?'col-sm-10':'col-sm-11')+' h1 p-0'">
        {{recipe.name}}
      </div>
      <div *ngIf="isClock" (click)="clickClock($event,recipe.name,recipe.image,recipe.id)"
        style="border-radius: 50%; width: 45px; height: 45px;right:0"
        class="col-sm-2 p-0 position-relative bg-warning ms-auto">
        <i class="clock bi bi-alarm position-absolute" style="  margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);font-size: 30px;"></i>
      </div>
      <div *ngIf="!isClock" class="col-sm-1 p-0">
        <div class="position-relative image rounded-5 mx-auto" (click)="removeSchedule($event)"
          style="width: 30px; height: 30px;">
          <i class="bi bi-x-lg vertical-center" style="  margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); font-size: 15px;"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 ps-0">
        <ng-container *ngFor="let item of [0,1,2,3,4]">
          <i [ngClass]="{'bi-star-fill':recipe.numStar>=item+0.75,'bi-star-half':recipe.numStar<item+0.75&&recipe.numStar>=item+0.25,'bi-star':recipe.numStar<item+0.25}"
            class="bi text-warning" style="font-size: larger;"></i>
        </ng-container>
      </div>
      <div class="col-sm-6 text-end">
        {{recipe.numEvaluation>1000?toFix(recipe.numEvaluation)+'k':
        recipe.numEvaluation}} Đánh giá</div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-6 ps-0">
        <i role="button" class="text-danger" style="font-size: larger;" (click)="clickFavorite($event)"
          (mouseenter)="mouseEnterFavorite()" (mouseleave)="mouseLeaveFavorite()" [ngClass]="{'bi-heart-fill':recipe.favorite||favoriteHover,
          'bi-heart':!recipe.favorite&&!favoriteHover}">
        </i>
      </div>
      <div class="col-sm-6 text-end">{{recipe.numFavorite}} Lượt thích</div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-12 ps-0">
        {{'Đăng ngày: '+recipe.createdDate}}
      </div>
    </div>
  </div>
</div>