<div class="container px-0">
  <div class="row">
    <div class="col-sm-6">
      <!-- <img src="{{recipeDetail.recipe.image}}" class="w-100 h-100"> -->
      <img
        src="https://images.foody.vn/res/g77/762734/prof/s640x400/foody-upload-api-foody-mobile-4-gif-180725095634.jpg"
        class="w-100 h-100">

    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col h1">
          <!-- {{recipeDetail.recipe.name}}</div> -->
          Bún bò
        </div>

      </div>
      <div class="row">
        <div class="col-sm-6">
          <i [ngClass]="{'bi-star-fill':recipeDetail.recipe.numStar>=0+0.75,'bi-star-half':recipeDetail.recipe.numStar<0+0.75&&recipeDetail.recipe.numStar>=0+0.25,'bi-star':recipeDetail.recipe.numStar<0+0.25}"
            class="bi text-warning" style="font-size: larger;"></i>
          <i [ngClass]="{'bi-star-fill':recipeDetail.recipe.numStar>=1+0.75,'bi-star-half':recipeDetail.recipe.numStar<1+0.75&&recipeDetail.recipe.numStar>=1+0.25,'bi-star':recipeDetail.recipe.numStar<1+0.25}"
            class="bi text-warning" style="font-size: larger;"></i>
          <i [ngClass]="{'bi-star-fill':recipeDetail.recipe.numStar>=2+0.75,'bi-star-half':recipeDetail.recipe.numStar<2+0.75&&recipeDetail.recipe.numStar>=2+0.25,'bi-star':recipeDetail.recipe.numStar<2+0.25}"
            class="bi text-warning" style="font-size: larger;"></i>
          <i [ngClass]="{'bi-star-fill':recipeDetail.recipe.numStar>=3+0.75,'bi-star-half':recipeDetail.recipe.numStar<3+0.75&&recipeDetail.recipe.numStar>=3+0.25,'bi-star':recipeDetail.recipe.numStar<3+0.25}"
            class="bi text-warning" style="font-size: larger;"></i>
          <i [ngClass]="{'bi-star-fill':recipeDetail.recipe.numStar>=4+0.75,'bi-star-half':recipeDetail.recipe.numStar<4+0.75&&recipeDetail.recipe.numStar>=4+0.25,'bi-star':recipeDetail.recipe.numStar<4+0.25}"
            class="bi text-warning" style="font-size: larger;"></i>
        </div>
        <div class="col-sm-6 my-auto text-end">
          {{recipeDetail.recipe.numEvaluation>1000?toFix(recipeDetail.recipe.numEvaluation)+'k':
          recipeDetail.recipe.numEvaluation}} Đánh giá</div>
      </div>
      <div class="row mt-2">
        <div class="col-sm-6">
          <i role="button" class="text-danger" style="font-size: larger;" (click)="clickFavorite()"
            (mouseenter)="mouseEnterFavorite()" (mouseleave)="mouseLeaveFavorite()" [ngClass]="{'bi-heart-fill':recipeDetail.recipe.favorite||favoriteHover,
            'bi-heart':!recipeDetail.recipe.favorite&&!favoriteHover}">
          </i>
        </div>
        <div class="col-sm-6 text-end">{{recipeDetail.recipe.numFavorite}} Lượt thích</div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          Đăng ngày: {{recipeDetail.recipe.createdDate}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="mt-4 border border-warning rounded-3 position-relative pt-4">
            <div style="position: absolute; left: 10px; top:-20px">
              <img src="/assets/icon/cooker.png" class="bg-white me-2" style="max-width: 10%;">
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm-3">
                  <img src="{{recipeDetail.user.image}}" style="border-radius:50%; height: 63.55px;" class="w-100">
                </div>
                <div class="col-sm-9 my-auto">{{recipeDetail.user.fullName}}</div>
              </div>
              <div class="row mt-2">
                <div class="col-sm-6">
                  <img src="/assets/icon/cookLevel.png" style="width: 25%">
                  <div class="mt-1 ms-2" style="display: inline-block;">
                    Điểm đầu bếp:
                  </div>
                </div>
                <div class="col-sm-5 ms-auto">
                  <ng-container *ngFor="let item of [0,1,2,3,4]">
                    <i [ngClass]="{'bi-star-fill':recipeDetail.user.cookLevel!>=item+0.75,'bi-star-half':recipeDetail.user.cookLevel!<item+0.75&&recipeDetail.user.cookLevel!>=item+0.25,'bi-star':recipeDetail.user.cookLevel!<item+0.25}"
                      class="bi text-warning" style="font-size: larger;"></i>
                  </ng-container>
                </div>
              </div>
              <div class="row mt-2 mb-2">
                <div class="col-sm-6">
                  <img src="/assets/icon/evaluateLevel.png" style="width: 25%">
                  <div class="mt-1 ms-2" style="display: inline-block; margin-right:-0.1em">
                    Điểm đánh giá:
                  </div>
                </div>
                <div class="col-sm-5 ms-auto">
                  <ng-container *ngFor="let item of [0,1,2,3,4]">
                    <i [ngClass]="{'bi-star-fill':recipeDetail.user.evaluationLevel!>=item+0.75,'bi-star-half':recipeDetail.user.evaluationLevel!<item+0.75&&recipeDetail.user.evaluationLevel!>=item+0.25,'bi-star':recipeDetail.user.evaluationLevel!<item+0.25}"
                      class="bi text-warning" style="font-size: larger;"></i>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="mt-5 mb-3">Nguyên liệu:</h2>
<ul>
  <!-- <li *ngFor="let item of recipeDetail.recipeSharing.ingredients">
    {{item.quantity +' '+ item.name}}
  </li> -->
  <li>1 lạng thịt bò</li>
  <li>0.5 kg bún</li>

</ul>

<h2 class="mt-5 mb-3">Hướng dẫn chế biến:</h2>
<ol>
  <!-- <li *ngFor="let instruction of recipeDetail.recipeSharing.instructions">
    {{instruction.content}}
    <div class="mt-1 mb-4">
      <img *ngFor="let image of instruction.images" style="height: 5em;" class="me-1" src={{image.data}}>
    </div>
  </li> -->

  <li *ngFor="let instruction of recipeDetail.recipeSharing.instructions">
    Cắt thịt bò
    <div class="mt-1 mb-4">
      <img style="height: 5em;" class="me-1"
        src="https://afamilycdn.com/150157425591193600/2023/2/9/de-co-mon-thit-bo-xao-mem-va-ngon-1675844959702299585525-1675904690656-1675904692131666232165.jpg">
    </div>
  </li>
</ol>