<div style="width:40%;" class="m-auto mt-5 mb-3 input-group">
  <input type="text" class="form-control" [(ngModel)]=keyword (keyup.enter)="searchByKeyword()"
    placeholder="Tên món ăn bạn muốn tìm" aria-describedby="basic-addon2">
  <div class="input-group-append" style="z-index: 0;">
    <button style="background-color: #ffe127;" class="btn" type="button" (click)="searchByKeyword()"><i
        class="bi bi-search"></i></button>
  </div>
</div>
<div class="d-flex flex-row justify-content-center mb-3">
  <div class="me-3">Nguyên liệu chính:</div>
  <div (click)="searchByIngredient('heo')"
    [ngStyle]="{'background-color':(this.ingredient.includes('heo'))?'rgb(189 162 0)': '#ffe127', 'color':(this.ingredient.includes('heo'))?'white':'black'}"
    style="border-radius: 10px; cursor: pointer;" class="me-3 px-3">Heo</div>
  <div (click)="searchByIngredient('bò')"
    [ngStyle]="{'background-color':(this.ingredient.includes('bò'))?'rgb(189 162 0)': '#ffe127', 'color':(this.ingredient.includes('bò'))?'white':'black'}"
    style="border-radius: 10px; cursor: pointer;" class="me-3 px-3">Bò</div>
  <div (click)="searchByIngredient('gà')"
    [ngStyle]="{'background-color':(this.ingredient.includes('gà'))?'rgb(189 162 0)': '#ffe127', 'color':(this.ingredient.includes('gà'))?'white':'black'}"
    style="border-radius: 10px; cursor: pointer;" class="me-3 px-3">Gà</div>
  <div (click)="searchByIngredient('cá')"
    [ngStyle]="{'background-color':(this.ingredient.includes('cá'))?'rgb(189 162 0)': '#ffe127', 'color':(this.ingredient.includes('cá'))?'white':'black'}"
    style="border-radius: 10px; cursor: pointer;" class="me-3 px-3">Cá</div>

</div>
<div class="d-flex flex-row justify-content-center mb-5">
  <div class="me-3">Sắp xếp theo:</div>
  <div (click)="searchByFilter('popular')"
    [ngStyle]="{'background-color':(this.filter=='popular')?'rgb(189 162 0)': '#ffe127', 'color':(this.filter=='popular')?'white':'black'}"
    style="border-radius: 10px; cursor: pointer;" class="me-3 px-3">Độ phổ biến</div>
  <div (click)="searchByFilter('numStar')"
    [ngStyle]="{'background-color':(this.filter=='numStar')?'rgb(189 162 0)': '#ffe127', 'color':(this.filter=='numStar')?'white':'black'}"
    style="background-color: #ffe127; border-radius: 10px; cursor: pointer;" class="me-3 px-3">Đánh giá</div>
</div>

<div class="grid-container container">
  <app-recipe-item [recipe]="item" *ngFor="let item of recipes"></app-recipe-item>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center my-2">
    <li class="page-item" [ngClass]="{'disabled':selectedPage==1}">
      <a style="cursor: pointer;" (click)="directPage(selectedPage-1)" style="color: black;" class="page-link" href="#"
        aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item">
      <!-- <a [routerLink]="['/']" [queryParams]="{page:page1()}"
        [ngStyle]="{'background-color':selectedPage==1?'#ffe127':''}" style="color: black;" class="page-link">
        {{page1()}}
      </a> -->
      <a (click)="directPage(numberPage1)"
        [ngStyle]="{'background-color':selectedPage==1?'#ffe127':''}" style="color: black;cursor: pointer;" class="page-link">
        {{numberPage1}}
      </a>
    </li>
    <li *ngIf="numPage>1" class="page-item">
      <a (click)="directPage(numberPage2)"
        [ngStyle]="{'background-color':selectedPage!=1&&(selectedPage!=numPage&&numPage!=2)||(selectedPage==numPage&&numPage==2)?'#ffe127':''}"
        style="color: black;cursor: pointer;" class="page-link">{{numberPage2}}
      </a>
    </li>
    <li *ngIf="numPage>2" class="page-item">
      <a (click)="directPage(numberPage3)"
        [ngStyle]="{'background-color':selectedPage==numPage?'#ffe127':''}" style="color: black;cursor: pointer;"
        class="page-link">{{numberPage3}}
      </a>
    </li>
    <li class="page-item" [ngClass]="{'disabled':selectedPage==numPage}">
      <a (click)="directPage(selectedPage+1)" style="color: black; cursor: pointer;" class="page-link" href="#"
        aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>