<div [routerLink]="['/recipes/'+scheduleRecipe.recipe.id]"
  *ngFor="let scheduleRecipe of scheduleRecipes,let scheduleRecipeIdx=index" class="row p-2 mb-2 item"
  style="cursor: pointer;">
  <div class="col-sm-12 ">
    <div class="row">
      <app-common-recipe-list [recipe]="scheduleRecipe.recipe"></app-common-recipe-list>
    </div>
    <div class="row edit-item mt-1 p-2" (click)="lol($event)">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-11 ps-0">
            <i class="clock bi bi-alarm"></i>
            {{'Lên lịch lúc '+scheduleRecipe.recipe.scheduledDate}}
          </div>
          <div class="col-sm-1 text-end pe-0">
            <i class="bi bi-pencil-square text-end" style="cursor: pointer;"
              (click)="edit($event,scheduleRecipeIdx,scheduleRecipe)"></i>
          </div>
        </div>
        <div class="row">
          <div *ngIf="scheduleRecipe.evaluation.note" class="col-sm-12 ps-0 mt-1">
            <i class="bi bi-sticky me-1"></i>
            {{'Ghi chú: '+scheduleRecipe.evaluation.note}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>